@import '../base/color';
@import '../base/typography';

.section-title
{
	text-align: center;
	letter-spacing: 1px;
	color: $text-gray;
	font-family: $title-font;
	font-weight: 100;
	font-size: 25px;
}

.section-title-hr	
{
	border-bottom: 3px solid $green;
	width: 50px;
	margin: 20px auto 20px auto;
}

.para-title
{
	font-family: $subtitle-font;
	font-size: 20px;
	margin-bottom: 20px;
	color: $text-gray;
	font-weight: 700;
}

