.evaluation-wrap
{
	position: relative;
}

.question-section
{
	width: 50%;
	background-color: red;
	height: 100vh;
	float: left;
}

.answers-section
{
	width: 50%;
	background-color: green;
	height: 100vh;
	float: right;
	ul{
		list-style: none;
	}
}

.next-nav
{
	height: 50px;
	width: 50px;
	background-color: blue;
	position: absolute;
}